.env
.env*.local

node_modules/

android/.gradle/
android/app/build/
android/build/

.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# OS and editor junk
.DS_Store
*.tsbuildinfo
npm-debug.*
yarn-debug.*
yarn-error.*

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

app-example

GENERAL-TODO.txt
main-idea.txt
